body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-1);
    color: var(--color-text);
    font-family: "Luxurious Roman", cursive;
}

.slick-dots li button:before {
    color: white !important;
    font-size: 1rem !important;
    margin: 1em !important;
}

.slick-dots li.slick-active button:before {
    color: white !important;
    font-size: 1.3rem !important;
    margin: 0.8em !important;
}